

.overlay {
  box-shadow: 0px 0px 45px 10px ;
  z-index: 1;
  width: 360px;
  height: 360px;
  animation: shadowAnimation 20s normal infinite;
}
.overlayV {
  box-shadow: 0px 0px 1px 1px ;
  animation: shadowAnimation2 60s normal infinite;
}

.overlayText{

  text-shadow: 3px 3px 3px 3px rgba(22, 122, 222, 0.7);
  animation: softColorChange 3s ease-in-out none ;

}
.overlaySoft{
  
  animation: softColorChange 5s ease-in-out infinite alternate;
}

@keyframes shadowAnimation {
  0% {
    box-shadow: 10px 10px 50px 5px rgba(20, 120, 220, 1);
  }
  25% {
    box-shadow: -10px -10px 50px 5px rgba(220, 20, 120, 1);
  }
  50% {
    box-shadow: 0px 0px 50px 5px rgba(120, 220, 20, 1);
  }
  75% {
    box-shadow: 10px 10px 50px 5px rgba(20, 120, 220, 1);
  }
  100% {
    box-shadow: 10px 10px 50px 5px rgba(220, 20, 120, 1);
  }
}
@keyframes shadowAnimation2 {
  0% {
    box-shadow: 0px 1px 10px 5px rgba(255, 255, 255, 0.6);
  }
  4.76% {
    box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.4);
  }
  9.52% {
    box-shadow: 0px 1px 10px 5px rgba(255, 255, 255, 0.5);
  }
  14.28% {
    box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.1);
  }
  19.04% {
    box-shadow: 0px 1px 10px 5px rgba(255, 254, 255, 0.9);
  }
  23.8% {
    box-shadow: 0px 1px 10px 5px rgba(255, 255, 255, 0.6);
  }
  28.56% {
    box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.4);
  }
  33.32% {
    box-shadow: 0px 1px 10px 5px rgba(255, 255, 255, 0.5);
  }
  38.08% {
    box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.1);
  }
  42.84% {
    box-shadow: 0px 1px 10px 5px rgba(255, 254, 255, 0.9);
  }
  47.6% {
    box-shadow: 0px 1px 10px 5px rgba(255, 255, 255, 0.6);
  }
  52.36% {
    box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.4);
  }
  57.12% {
    box-shadow: 0px 1px 10px 5px rgba(255, 255, 255, 0.5);
  }
  61.88% {
    box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.1);
  }
  66.64% {
    box-shadow: 0px 1px 10px 5px rgba(255, 254, 255, 0.9);
  }
  71.4% {
    box-shadow: 0px 1px 10px 5px rgba(255, 255, 255, 0.6);
  }
  76.16% {
    box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.4);
  }
  80.92% {
    box-shadow: 0px 1px 10px 5px rgba(255, 255, 255, 0.5);
  }
  85.68% {
    box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.1);
  }
  90.44% {
    box-shadow: 0px 1px 10px 5px rgba(255, 254, 255, 0.9);
  }
  95.2% {
    box-shadow: 0px 1px 10px 5px rgba(255, 255, 255, 0.6);
  }
  100% {
    box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.4);
  }
}

@keyframes softColorChange {
  0% {
    background-color: black;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
}


li:hover {
  color:white;
transition: 0.3s ease-in-out;
}


 @keyframes shadowAnimation {
      0% {
        color: rgba(20, 120, 220, 1);
      }
      25% {
        color: rgba(220, 20, 120, 1);
      }
      50% {
        color: rgba(120, 220, 20, 1);
      }
      75% {
        color: rgba(20, 120, 220, 1);
      }
      100% {
        color: rgba(220, 20, 120, 1);
      }
    }

    .textContainer {
      display: inline-block;
      font-size: 3em;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      animation: shadowAnimation 25s infinite;
    }
/* Stil dosyası - Örnek olarak CardComponent.css adında bir dosya düşünelim */

/* Stil dosyası - Örnek olarak CardComponent.css adında bir dosya düşünelim */

.cardContainer {
  position: relative;
  cursor: pointer;
    opacity:1;
    border-radius:1rem ;


}
.cardContainer:hover {

  opacity:1;
    transition: bottom 0.5s ease-in-out;
    box-shadow: rgba(255, 254, 255, 0.9);
    
    /* Transform properties*/


}

.cardText {
  cursor: pointer;
  position: absolute;
  bottom: -15rem; /* Başlangıçta tamamen gizlenmiş olacak */
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 1.2s ease-in-out;
  opacity: 0;
    text-align: center;
  justify-content: center;
  align-items: center;
  
}

.cardContainer:hover .cardText {
  background-color:rgba(255, 255, 255, 0.4);
  cursor: pointer;
  opacity: 1;
  bottom: 0rem; /* Hover olduğunda metin yukarı doğru çıkacak */
  text-align: center;
padding-top:50%;
border-radius:1rem ;
  
}
